openapi: 3.2.0
info:
  version: 0.2.0
  title: AsyncAPI Server Version API
  description: Server API providing official AsyncAPI tools
  contact:
    name: AsyncAPI Initiative
    email: info@asyncapi.io
    url: https://asyncapi.com/
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://api.asyncapi.com/v1
tags:
- name: Version
paths:
  /version:
    get:
      summary: Get the current version of the AsyncAPI CLI
      operationId: getVersion
      tags:
      - Version
      responses:
        '200':
          description: Successfully retrieved the version.
          content:
            application/json:
              schema:
                ref: '#/components/schemas/VersionResponse'
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        default:
          description: Unexpected problem.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          description: 'An absolute URI that identifies the problem type. When dereferenced,

            it SHOULD provide human-readable documentation for the problem type

            (e.g., using HTML).

            '
          default: about:blank
          example: https://api.asyncapi.com/problem/invalid-template-parameters
        title:
          type: string
          description: 'A short, summary of the problem type. Written in english and readable.

            '
          example: Invalid AsyncAPI document.
        status:
          type: integer
          format: int32
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
          example: 422
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the problem.

            '
          example: Connection to database timed out
        instance:
          type: string
          format: uri
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
      required:
      - type
      - title
      - status
      additionalProperties: true
